* {
  margin: 0;
  padding: 0;
}
body{
  font-family: Lato, sans-serif;
  font-style: normal;
  background-color: #fff;
  color: #222222;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}
.content-center {
  max-width: 1172px;  /*1140px;*/
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

/* =======  header  ======= */

.page-header {
  width: 100%;
  min-height: 75px;
  background-color: #222222;  
  position: relative;  /* для меню */
 }
.page-header-wrp {
  width: 100%;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* левая и правая группы кнопок в header */
.page-header-btn-group {
  width: 111px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;  
}
.page-header-btn-group:last-child {
  width: 168px;
}
.page-header-logo {
  display: block;
  width: 44px;
  height: 38px;
}
.page-header-logo img {
  width: 100%;
  height: 100%;
}
.page-header-btn {
  background: transparent;
  border: none;
  width: 32px;
  height: 30px;
  padding: 0;  
}
.page-header-btn svg {
  fill: #E8E8E8;
  width: 100%;
  height: 100%;
}
.page-header-btn:hover svg {
  opacity: 0.6;
}  
.page-header-btn:active svg {
  fill: #F16D7F;
}  

/* корзина со счётчиком */
.page-header-cart {
  position: relative;
}
.page-header-cart-count {
  position: absolute;
  display: inline-block;
  width: 19px;
  height: 19px;
  color: #FFFFFF;
  background-color: #F16D7F;
  border-radius: 50%;
  text-align: center;
  right: -8px;
  top: -7px;
  font-size: 12px;
  line-height: 19px;
}

/* =======  menu  ======= */

.menu {
  /*display: none;*/
  width: 232px;
  height: 764px;
  top: 75px;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 16px 34px;
  box-sizing: border-box;
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 20;
  font-size: 14px;
  line-height: 17px;
}
.menu-close-btn {
  display: block;
  width: 12px;
  height: 12px;
  position: relative;
  top: 0;
  left: 170px;
  text-align: center;
  text-decoration: none;
  line-height: 12px;
}
.menu-title {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin: 9px 0 24px 0;
}
.menu-list {
  list-style: none;  
}
.menu-sublist {
  list-style: none;
  padding: 0 0 9px 20px;
  box-sizing: border-box;
}
.menu-list-item>a, 
.menu-sublist-item>a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.menu-list-item>a {
  text-transform: uppercase;
  color: #F16D7F;  
  margin: 0 0 12px 0;
}
.menu-sublist-item>a {
  color: #6F6E6E;
  margin: 0 0 11px 0;
}
.menu-sublist-item:hover a {
  text-decoration: underline;
}

/* =======  section с брендом  ======= */

.page-header-banner {
  width: 100%;
  min-height: 764px;
  background-color: #F1E4E6;
  background-image: url('../img/banner.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  display: flex;
  justify-content: center;  /*flex-end;*/
  align-items: center;
}
.page-header-banner-wrp {
  margin-left: 33%;    /*margin-right: 300px;*/
  text-transform: uppercase;
  position: relative;
}
.page-header-banner-wrp:before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  top: 0;
  left: -28px;
}
.page-header-banner-title {
  display: block;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}
.page-header-banner-subtitle {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
}
.page-header-banner-subtitle span {
  color:#F16D7F;
}

/* =======  section categories  ======= */

.categories {
  width: 100%;
  margin-top: 65px;
  margin-bottom: 90px;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
}
.categories-item {
  width: 31.58%;  /*360px;*/
  min-height: 260px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 2.63% 0;  /*30px;*/
}
.categories-item:nth-child(1) {
  background-image: url('../img/for_women.jpg');
} 
.categories-item:nth-child(2) {
  background-image: url('../img/for_men.jpg');
  margin-left: 2.63%;  /*30px;*/
  margin-right: 2.63%;
} 
.categories-item:nth-child(3) {
  background-image: url('../img/for_kids.jpg');
} 
.categories-item:nth-child(4) {
  width: 100%;
  min-height: 180px;
  background-image: url('../img/accesories.jpg');  
  margin-bottom: 0;
} 
/* надписи */
.categories-item-title,  
.categories-item-subtitle{
  display: block;
  text-transform: uppercase;
}
.categories-item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.categories-item-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #F16D7F;
}

/* =======  section products  ======= */

.products {
  width: 100%;
  font-weight: normal;
  text-align: center;
  margin-bottom: 95px;
}
.products-title {
  font-size: 30px;
  line-height: 36px;
  margin: 6px 0;
}
.products-text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}
/* карточки */
.products-items {
  width: 100%;
  margin: 48px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.products-item {
  width: 31.58%; /*360px;*/
  position: relative;
  background: #F8F8F8;
  margin: 0 2.63% 2.63% 0;  /*30px*/
}
.products-item:nth-child(3n) {
  margin: 0 0 2.63% 0;
}

/* картинка */
.products-item-photo {
  display: block;
  width: 100%;
}
.products-item-btn {
  display: none;
  position: absolute;
  width: 138px;
  height: 43px;
  font-size: 14px;
  line-height: 17px;
  text-align: center; 
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  background: transparent;
  color: #FFFFFF;
  top: 30%;  /*188px;*/
  left: 30%;
}
.products-item-btn img {
  margin: 0 11px 0 0;
}
.products-item:hover .products-item-photo {
  filter: brightness(33%);
}
.products-item:hover .products-item-btn {
  display: block;
}

/* текст*/
.products-item-text-wrp {
  padding: 25px 18px 20px 18px;
  box-sizing: border-box;
  text-align: left;
}
.products-item-title {
  margin: 0 0 12px 0;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000; 
}
.products-item-text {
  margin: 0 0 18px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.products-item-price {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

/* нижняя кнопка */
.products-btn {
  display: inline-block; 
  width: 211px;
  padding: 13px;
  background-color: #fff;
  border: 1px solid #FF6A6A;
  box-sizing: border-box;
  color: #F26376;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.products-btn:hover {
  background-color: #F16D7F;
  color: #fff;
}

/* =======  section features  ======= */

.features {
  width: 100%;
  min-height: 341px;
  background-color: #222224;
  padding: 103px 0;
  box-sizing: border-box;
}
.features-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;  /*center;*/
}
.features-item {
  width: 31.58%;  /*360px;*/
  min-height: 133px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.features-item:nth-child(2) {
  margin: 0 2.63%;  /*30px;*/
}
.features-item-title {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}
.features-item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

/* =======  section subscribe  ======= */

.subscribe {
  width: 100%;
  min-height: 448px;
  background-color: rgba(244, 244, 244, 0.7);
  background-image: url('../img/subscribe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 97px 0 126px 0;
  box-sizing: border-box;
}
.subscribe-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe-info {
  width: 31.58%;  /*360px;*/
  min-height: 225px;
  margin: 0 2.63% 0 0; 
  text-align: center;
}
.subscribe-info-text {
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  margin-top: 30px;  
}
.subscribe-info-text span {
  font-style: italic;
}
.subscribe-form-wrp {
  width: 48.5%;  /*557px*/
  min-height: 142px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  color: #222224; 
}
.subscribe-form-title {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.subscribe-form-subtitle {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;  
}
.subscribe-form-email {
 /* display: block;*/
  display: flex;
  align-items: center;
  padding-left: 22px;
  box-sizing: border-box;
  border-radius: 25px 0 0 25px;
  width: 256px;
  height: 49px;
  border: 1px solid #E1E1E1;
  background-color: #E1E1E1;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;  
}
.subscribe-form-btn {
  display: block;
  width: 100px;
  height: 49px;
  border-radius: 0 25px 25px 0;
  border: 1px solid #F16D7F;
  box-sizing: border-box;
  background-color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

/* =======  section footer  ======= */

.page-footer {
  width: 100%;
  min-height: 79px;
  background-color: #222224;
  padding: 24px 0;
  box-sizing: border-box;
}
.page-footer-wrp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-footer-text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB; 
}
.page-footer-socials {
  width: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-footer-socials-item {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
}
.page-footer-socials-item svg {
  margin: auto;
  fill: #000000;
}
.page-footer-socials-item:hover {
  background-color: #F16D7F;  
}
.page-footer-socials-item:hover svg{
  fill: #FFFFFF;
}